<h1>Bienvenido</h1>
<form action="" method="post">
  <div class="form-group row">
    <label for="tipo" class="col-2 col-form-label">Tipo de Masa</label>
    <div class="col-10">
      <select class="form-control" name="tipo">
        <option>gruesa</option>
        <option>delgada</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="ingrediente1" class="col-2 col-form-label">Ingrediente 1</label>
    <div class="col-10">
      <select class="form-control" name="ingrediente1">
        <option>pepperoni</option>
        <option>salami</option>
        <option>queso</option>
        <option>salchicha</option>
        <option>tocino</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="ingrediente2" class="col-2 col-form-label">Ingrediente 2</label>
    <div class="col-10">
      <select class="form-control" name="ingrediente2">
        <option>pepperoni</option>
        <option>salami</option>
        <option>queso</option>
        <option>salchicha</option>
        <option>tocino</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="Especial" class="col-2 col-form-label">Ingrediente Especial</label>
    <div class="col-10">
      <select class="form-control" name="ingredienteEspecial">
        <option>anchoas</option>
        <option>jalapenos</option>
      </select>
    </div>
  </div>
</form>
<br>
<br>
<br>
<br>
<div class="table-responsive">
  <div class="table table-striped">
    <table class="table">
      <thead>
      <tr>
        <th>Masa</th>
        <th>Ingrediente 1</th>
        <th>Ingrediente 2</th>
        <th>Ingrediente Especial</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>asdf</td>
        <td>asdf</td>
        <td>adfs</td>
        <td>asdf</td>
        <td>1234</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

