<h1>Bienvenido <%= user.nombre%></h1>
<form action="/Pizza/crearPizza" method="post">
  <div class="form-group row">
    <label for="tipo" class="col-2 col-form-label">Tipo de Masa</label>
    <div class="col-10">
      <select class="form-control" name="tipo">
        <option>delgada</option>
        <option>gruesa</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="tamanio" class="col-2 col-form-label">Tamanio</label>
    <div class="col-10">
      <select class="form-control" name="tamanio">
        <option>mediana</option>
        <option>personal</option>
        <option>familiar</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="ingrediente1" class="col-2 col-form-label">Ingrediente 1</label>
    <div class="col-10">
      <select class="form-control" name="ingrediente1">
        <option>pepperoni</option>
        <option>salami</option>
        <option>queso</option>
        <option>salchicha</option>
        <option>tocino</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="ingrediente2" class="col-2 col-form-label">Ingrediente 2</label>
    <div class="col-10">
      <select class="form-control" name="ingrediente2">
        <option>pepperoni</option>
        <option>salami</option>
        <option>queso</option>
        <option>salchicha</option>
        <option>tocino</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="Especial" class="col-2 col-form-label">Ingrediente Especial</label>
    <div class="col-10">
      <select class="form-control" name="ingredienteEspecial">
        <option>anchoas</option>
        <option>jalapenos</option>
      </select>
    </div>
  </div>
  <input type="text" name="id_Usuario" value="<%=user.id%>" hidden>
  <input type="text" name="precio" value="40" hidden>

  <button
    class="btn btn-outline-success">Crear
  </button>
</form>


